/** Global **/
.ABP-Unit{
	position:relative;
	font-size:16px;
	border:none;
}
.ABP-Unit.ABP-Full .ABP-Player{
	top:0;
	left:0;
	right:0;
	bottom:0;
	width:auto !important;
	height:auto !important;
	position:fixed;
	z-index:9999;
}
.ABP-NoScroll{
	overflow:scroll!important;
	overflow-x:hidden!important;
	overflow-y:hidden!important;
}
.ABP-Unit .ABP-Player{
	position:absolute;
	top:0;left:0;right:300px;bottom:0;
}
.ABP-Unit.ABP-Wide .ABP-Player{
	right:0;
}
.ABP-Unit.ABP-Wide .ABP-SideBlock{
	display:none;
}

/** Tip **/
.ABP-Tooltip {
	position:absolute;
	min-height:15px;
	min-width:10px;
	z-index:999995;
	background:#FFF;
	overflow:visible;
	word-break:keep-all;
	white-space:nowrap;
	font-size:12px;
	border-radius:3px;
	opacity:0.8;
	border:#CCC solid 1px;
	-webkit-box-shadow: 3px 3px 3px #000;
	        box-shadow: 3px 3px 3px #000;
}

/** Side blocks **/
.ABP-Unit .ABP-SideBlock {
	position:absolute;
	width:300px;
	right:0;
	background:#CCC;
}

/** Video **/
.ABP-Unit .ABP-Video{
	position:absolute;
	overflow:hidden;
	top:0;left:0;right:0;bottom:52px;
	background:#000;
}
.ABP-Unit.ABP-Screen .ABP-Video{
	bottom:0;
}
.ABP-Unit .ABP-Video .ABP-VideoItem{
	position:absolute;
	width:100%;
	height:100%;
}
.ABP-Unit .ABP-Video .ABP-VideoItemHidden {
	display:none;
}
.ABP-Unit .ABP-Video .ABP-VideoItemHidden{
	display:none;
}

/** Danmaku **/
.ABP-Unit .ABP-Video .ABP-Container{
	-webkit-transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
	transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
	position: absolute;
	display: block;
	overflow: hidden;
	margin: 0;
	border: 0;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.ABP-Unit .ABP-Video .ABP-Container .cmt{
	-webkit-transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
	transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
	position: absolute;
	padding: 3px 0 0 0;
	margin: 0;
	color: #fff;
	font-family: SimHei, SimSun, Heiti, "MS Mincho", "Meiryo", "Microsoft YaHei", "WenQuanYi Micro Hei Mono", monospace;
	font-size: 25px;
	text-decoration: none;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	text-size-adjust: none;
	line-height: 100%;
	letter-spacing: 0;
	word-break: keep-all;
	white-space: pre;
}
.ABP-Unit .ABP-Video .ABP-Container .cmt.noshadow{
	text-shadow: none;
}
.ABP-Unit .ABP-Video .ABP-Container .cmt.rshadow{
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

/** Controls **/
.ABP-Unit .button{
	overflow:hidden;
	width:25px;
	top:0;
	bottom:0;
	height:100%;
	display:block;
	float:left;
	background-position:center;
	background-size:contain;
	background-repeat:no-repeat;
	background-color:inherit;
	-webkit-transition: background-color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out;
}
.ABP-Unit .right{
	float:right;
}
.ABP-Unit .autofill{
	position:relative;
	height:100%;
	overflow:auto;
}

.ABP-Unit .bar{
	top:50%;
	height:6px;
	margin:-3px 8px 0 8px;
	border-radius:6px;
	position:relative;
	background:#858585;
}
.ABP-Unit .bar .dark{
	position:absolute;
	background:#00a1d6;
	height:100%;
	border-radius:6px;
	opacity:1;
}
.ABP-Unit .bar .dark:before{
	height:12px;
	width:12px;
	border:#ddd solid 1px;
	border-radius:12px;
	background-color:#fff;
	position:absolute;
	top:-4px;
	right:-6px;
	content: "";
	-webkit-box-shadow:0 0 5px #ccc;
	        box-shadow:0 0 5px #ccc;
}
.ABP-Unit .bar .dark:after{
	height:6px;
	width:6px;
	border:#ddd solid 1px;
	border-radius:6px;
	background-color:#00a1d6;
	position:absolute;
	top:-1px;
	right:-3px;
	content: "";
}
.ABP-Unit .bar .load{
	position:absolute;
	background:#00a1d6;
	height:100%;
	border-radius:6px;
	opacity:1;
}


.ABP-Unit.ABP-Screen .ABP-Toolbar {
	opacity:0;
}
.ABP-Unit.ABP-Screen .ABP-Toolbar:hover {
	opacity:1!important;
}


/** Control bar **/
.ABP-Unit .ABP-Control {
	border:1px solid #eee;
	background-color:#fff;
	position:absolute;
	bottom:25px;left:0;right:0;
	height:25px;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	    user-select: none;
}
/* play button */
.ABP-Unit .ABP-Play{
	border-right:1px solid #eee;
	background-image:url(play.svg);
	width:35px;
}
.ABP-Unit .ABP-Play:hover{
	background-image:url(play-hover.svg);
}
.ABP-Unit .ABP-Control .ABP-Play.ABP-Playing{
	background-image:url(pause.svg);
	background-size:contain;
}
.ABP-Unit .ABP-Control .ABP-Play.ABP-Playing:hover{
	background-image:url(pause-hover.svg);
}

/* progress bar */
.ABP-Unit .ABP-Control .ABP-progress-bar .dark {
	background-color:#007caf;
}

/* time label */
.ABP-Unit .ABP-Control .ABP-TimeLabel{
	width:80px;
	height:100%;
	line-height:25px;
	position:relative;
	font-size:12px;
	text-align:center;
	overflow:hidden;
	margin-left:-5px;
}

/* volume button */
.ABP-Unit .ABP-Control .ABP-VolumeButton {
	background-image:url(volume.svg);
}
.ABP-Unit .ABP-Control .ABP-VolumeButton:hover {
	background-image:url(volume-hover.svg);
}
.ABP-Unit .ABP-Control .ABP-VolumeButton.muted {
	background-image:url(mute.svg);
}
.ABP-Unit .ABP-Control .ABP-VolumeButton.muted:hover {
	background-image:url(mute-hover.svg);
}


/* volume bar */
.ABP-Unit .ABP-Control .volume-bar {
	height:100%;
	width:100px;
}

/* comment switch button */
.ABP-Unit .ABP-Control .ABP-CommentShow{
	background-image:url(danmaku-act.svg);
}
.ABP-Unit .ABP-Control .ABP-CommentShow.ABP-DanmakuOff{
	background-image:url(danmaku.svg);
}
.ABP-Unit .ABP-Control .ABP-CommentShow:hover{
	background-image:url(danmaku-hover.svg);
}

/* comment opacity box */
.ABP-Unit .ABP-Control .ABP-Opacity {
	visibility:hidden;
	position:absolute;
	right:60px;
	bottom:25px;
	min-width:80px;
	background:#FFF;
	font-size:14px;
	padding:5px;
	border-radius:5px;
	border:#CCC solid 1px;
	-webkit-box-shadow: 3px 3px 3px #000;
	        box-shadow: 3px 3px 3px #000;
}
.ABP-Unit .ABP-Control .ABP-CommentShow:hover + .ABP-Opacity {
	visibility:visible!important;
}
.ABP-Unit .ABP-Control .ABP-Opacity:hover {
	visibility:visible!important;
}
.ABP-Unit .opacity-bar {
	height:30px;
	display:block;
}

/* loop button */
.ABP-Unit .ABP-Control .ABP-Loop{
	background-image:url(loop.svg);
}
.ABP-Unit .ABP-Control .ABP-Loop.ABP-LoopOn{
	background-image:url(loop-act.svg);
}
.ABP-Unit .ABP-Control .ABP-Loop:hover{
	background-image:url(loop-hover.svg);
}

/* widescreen button */
.ABP-Unit .ABP-Control .ABP-WideScreen{
	background-image:url(wide.svg);
}
.ABP-Unit.ABP-Wide .ABP-Control .ABP-WideScreen{
	background-image:url(wide-act.svg);
}
.ABP-Unit .ABP-Control .ABP-WideScreen:hover{
	background-image:url(wide-hover.svg);
}

/* fullscreen button */
.ABP-Unit .ABP-Control .ABP-FullScreen{
	background-image:url(fullscr.svg);
}
.ABP-Unit.ABP-Full.ABP-Screen .ABP-Control .ABP-FullScreen{
	background-image:url(fullscr-act.svg);
}
.ABP-Unit .ABP-Control .ABP-FullScreen:hover{
	background-image:url(fullscr-hover.svg);
}

/* fullwindow button */
.ABP-Unit .ABP-Control .ABP-FullWindow{
	background-image:url(fullwin.svg);
}
.ABP-Unit.ABP-Full .ABP-Control .ABP-FullWindow{
	background-image:url(fullwin-act.svg);
}
.ABP-Unit.ABP-Full.ABP-Screen .ABP-Control .ABP-FullWindow{
	background-image:url(fullwin.svg);
}
.ABP-Unit .ABP-Control .ABP-FullWindow:hover{
	background-image:url(fullwin-hover.svg);
}

/* full screen & window button hovering */
.ABP-Unit .ABP-Control .ABP-FullWindow {
	position:absolute;
	right:0;
	top:-27px;  /* 25+2=27 */
	bottom:27px;
	margin:2px 0;
	visibility:hidden;
}
.ABP-Unit .ABP-Control .ABP-FullScreen:hover + .ABP-FullWindow {
	visibility:visible!important;
}
.ABP-Unit .ABP-Control .ABP-FullWindow:hover {
	visibility:visible!important;
}

/** Text bar **/
.ABP-Unit .ABP-Text{
	border:1px solid #eee;
	background-color:#fff;
	position:absolute;
	bottom:0px;left:0;right:0;
	height:25px;
	padding:0;
}

/* comment font button */
.ABP-Unit .ABP-CommentFont {
	background-image:url(font.svg);
}
.ABP-Unit .ABP-CommentFont:hover {
	background-image:url(font-hover.svg);
}
/* comment color button */
.ABP-Unit .ABP-CommentColor {
	background-image:url(color.svg);
}
.ABP-Unit .ABP-CommentColor:hover {
	background-image:url(color-hover.svg);
}
/* comment text */
.ABP-Unit .ABP-Text .ABP-TextBox input[type=text]{
	background:transparent;
	border:none;
	padding:0;margin:0;
	display:block;
	vertical-align: middle;
	font-family: monospace;
	font-size:18px;
	height:100%;
	width:100%;
	-webkit-box-shadow: 0 5px 15px #eee inset;
	        box-shadow: 0 5px 15px #eee inset;
}
/* comment send button */
.ABP-Unit .ABP-CommentSend{
	width:75px;
	text-align:center;
	font-size:14px;
	background-color:#00a4d7;
	color:#fff;
	line-height:25px;
}

/** comment list **/
/* width */
.ABP-CommentList {
	font-size:12px;
	border:1px solid #e0e0e0;
	margin:-1px;
	height: 100%;
}
.ABP-CommentList .ABP-CommentList-Title {
	background-color:#f8f8f8;
	border-bottom:1px solid #e0e0e0;
	overflow-y:hidden;
	height:25px;
}
.ABP-CommentList .ABP-CommentList-Container {
	background-color:#fff;
	overflow-y:scroll;
	position:absollute;
	width:100%;
	height:613px; /* based on practice */
	/* height: see js/ABPRestyle.js */
}
.ABP-CommentList .ABP-CommentList-Item {
	height:20px;
	line-height:20px;
}
.ABP-CommentList .time {
	width:15%;
	float:left;
	padding:5px;
	overflow:hidden;
}
.ABP-CommentList .content {
	width:50%;
	float:left;
	padding:5px;
	overflow:hidden;
	word-break:keep-all;
	white-space:nowrap;
}
.ABP-CommentList .date {
	float:left;
	padding:5px;
	overflow:hidden;
}
.ABP-CommentList > * > * {
}
.ABP-CommentList > * > * > *{
}







.ABP-Unit .ABP-Popup{
	position:absolute;
	border:1px solid #33b5e5;
	left:10px;
	padding:5px;
	bottom:82px;
	opacity:0.8;
}



/** Aliases for Chinese named fonts because they don't work on *nix **/
@font-face{
	font-family: "\9ED1\4F53";
	src:local('SimHei');
}

@font-face{
	font-family: "\5B8B\4F53";
	src:local('SimSun');
}

@font-face{
	font-family: "\534E\6587\6977\4F53";
	src:local('SimKai');
}

@font-face{
	font-family: "\5E7C\5706";
	src:local('YouYuan');
}

@font-face{
	font-family: "\5FAE\8F6F\96C5\9ED1";
	src:local('Microsoft YaHei');
}
