<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" value="IE=9">
        <link rel="stylesheet" href="/static/ABPlayerHTML5/css/base.css"/>
		<title>New Interface Test for ABPlayer</title>
		<script src="/static/ABPlayerHTML5/js/ABPMobile.js"></script>
		<script src="/static/ABPlayerHTML5/js/CommentCoreLibrary.min.js"></script>
		<script src="/static/ABPlayerHTML5/js/ABPLibxml.js"></script>
		<script src="/static/ABPlayerHTML5/js/ABPlayer.js"></script>
    <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/static/player/player.js"></script>
	</head>
	<body>
		<div id="player">
		</div>
		<div id="toBeInjected"></div>
	</body>
    <script> 
      render_player("{{token}}");
    </script>
</html>
