<!doctype html>  
<html>
  <head>  
  <meta charset="utf-8">  
  <title></title>  
  <script src="/static/upload/sha256.js"></script>
  <script src="/static/upload/upload.js"></script>
  <script>
	function  handleFiles(files) {  
		if(files.length) {
			var upload = new Uploader(files[0],function(obj){
				document.getElementById("bar").style.width = obj.checksumprog+"%";
				document.getElementById("bar2").style.width = obj.uploadprog+"%";
			});
		}  
	} 
  </script>  
    
  </head>  
  <body>  
  <input type="file" id="file" onchange="handleFiles(this.files)">  
  <div style="width:500px;height:20px;"><div id="bar" style="height:100%;width:0%;background-color:#02F;"></div><div id="bar2" style="height:100%;width:0%;background-color:#F00;"></div></div>
  </body>  
</html>  
