.home {
  .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
      color: #fff;
      background-color: #e74c3c;
  }

  a {
    color: #000000;
  }

  .container {
    margin-top: 50px;
    height: 1000px;
    background-color: #fcfcfc;
  }

  .container .row .options .nav li{
    margin-top: -1px;
    a {
      height: 70px;
      text-align: center;
      vertical-align: center;
      padding-top: 23px;
      font-size: 16px;
      border: 1px solid #cfcfcf;
      border-radius: 0px;
    }
  }

  .content {
    background-color: #ffffff;
    border: 1px solid #cfcfcf;
    height: 800px;
    padding-left: 0px;
    padding-right: 0px;
    
    .tab4 {
      font-size: 20px;
      .add:before {
        height: 50px;
        width: 50px;
        margin-top: 50px;
        cursor: pointer;
      }
      .file-list {
        font-weight: bold;
        padding-top: 10px;
        padding-left: 30px;
        padding-bottom: 30px;
        border-bottom: 1px dashed #cfcfcf;
        .row-info {
          margin-bottom: 20px;
        }
        .video-name {
          text-align: center;
        }
        video-progress {
          text-align: center;
        }
      }
      .video-cover {
        padding-left: 50px;
        padding-top: 20px;
        .word1 {
          color: #e74c3c;
        }
        .word2 {
          color: #000000;
        }
        .word3 {
          color: #787878;
          font-size: 14px;
        }
        #video-cover {
          display: inline;
          font-size: 14px;
        }
        #video-cover-preview{
          margin-left: 100px;
          margin-top: 20px;
          height: 200px;
          width: 120px;
        }
      }
      .other-info{
        border-top: 1px dashed #cfcfcf;
        padding-top: 20px;
        padding-left: 30px;
        margin-top: 20px;
        .collection-info{
          float: left;
          height: 50px;
          text-align: center;
          line-height: 35px;
        }
        .dropdown{
          float: left;
          margin-left: 40px;
        }
      }
    }
  }

  .word1 {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
  }
  .word2 {
    color: #e74c3c;
    font-size: 20px;
    font-weight: bold;
  }
  .word {
    margin-bottom: 10px;
  }
}
