<div ng-controller="home" class="home">
    <div class="container">
      <div class="row">
          <div class="col-md-2 options">
              <ul class="nav nav-pills nav-stacked" data-spy="affix">

                <li role="presentation" ng-click="changeTab(0)" ng-class="{ true: 'active', false: 'inactive'}[tab[0].isActive]"><a href="#">我的关注</a></li>
                <li role="presentation" ng-click="changeTab(1)" ng-class="{ true: 'active', false: 'inactive'}[tab[1].isActive]"><a href="#">我的投稿组</a></li>
                <li role="presentation" ng-click="changeTab(2)" ng-class="{ true: 'active', false: 'inactive'}[tab[2].isActive]"><a href="#">我的上传</a></li>
                <li role="presentation" ng-click="changeTab(3)" ng-class="{ true: 'active', false: 'inactive'}[tab[3].isActive]"><a href="#">我的收藏</a></li>
                <li role="presentation" ng-click="changeTab(4)" ng-class="{ true: 'active', false: 'inactive'}[tab[4].isActive]"><a href="#">我要上传</a></li>
                <li role="presentation" ng-click="changeTab(5)" ng-class="{ true: 'active', false: 'inactive'}[tab[5].isActive]"><a href="#">个人设置</a></li>
              </ul>
          </div>



        <!-- homepage main area -->
        <div class="col-xs-9 content">


          <!-- tab4 uploader -->
          <div ng-show="tab[4].isActive" class="col-xs-9 tab4">
              <span class="glyphicon glyphicon-plus add"> </span>
          </div>


        </div>




      </div>
    </div>
  </div>
