<div ng-controller="home" class="home">
    <div class="container">
      <div class='word'>
        <span class="word1">用户中心</span>
        <span class="word2">/HOME</span>
      </div>
      <div class="row">
          <div class="col-md-2 options">
              <ul class="nav nav-pills nav-stacked" data-spy="affix">

                <li role="presentation" ng-click="changeTab(0)" ng-class="{ true: 'active', false: 'inactive'}[tab[0].isActive]"><a href="#">我的关注</a></li>
                <li role="presentation" ng-click="changeTab(1)" ng-class="{ true: 'active', false: 'inactive'}[tab[1].isActive]"><a href="#">我的投稿组</a></li>
                <li role="presentation" ng-click="changeTab(2)" ng-class="{ true: 'active', false: 'inactive'}[tab[2].isActive]"><a href="#">我的上传</a></li>
                <li role="presentation" ng-click="changeTab(3)" ng-class="{ true: 'active', false: 'inactive'}[tab[3].isActive]"><a href="#">我的收藏</a></li>
                <li role="presentation" ng-click="changeTab(4)" ng-class="{ true: 'active', false: 'inactive'}[tab[4].isActive]"><a href="#">我要上传</a></li>
                <li role="presentation" ng-click="changeTab(5)" ng-class="{ true: 'active', false: 'inactive'}[tab[5].isActive]"><a href="#">个人设置</a></li>
              </ul>
          </div>


        <!-- homepage main area -->
        <div class="col-xs-9 content">


          <!-- tab4 uploader -->
          <div ng-show="tab[4].isActive" class="tab4" ng-controller="tab4">
              
              <div class="file-list">
                上传列表
                <p>
                <div class="row-info col-xs-12"> 
                  <div class="col-xs-8 video-name">
                    视频名 
                  </div>
                  <div class="col-xs-4 video-progress">
                    进度
                  </div>
                </div>
                <div ng-click="" class="glyphicon glyphicon-plus add"> </div>
              </div>
              <div>
              </div>

              <div class="video-cover">
                  <span class="word1">*</span>
                  <span class="word2">封面海报:</span>
                  <input ng-model="videoCover" id="video-cover" class="cover" value="选择图片" type="file"/>
                  <span class="word3">建议大小: 120 * 200</span>
                  <div class="video-cover-preview">
                    <img id="video-cover-preview">
                  </div>
                  
              </div>
          </div>

          <div ng-controller="tab2">
          </div>


        </div>




      </div>
    </div>
  </div>
