<div ng-controller="home" class="home">
  <div class="container">
    <div class='word'>
      <span class="word1">用户中心</span>
      <span class="word2">/HOME</span>
    </div>
    <div class="row">
      <div class="col-md-2 options">
        <ul class="nav nav-pills nav-stacked" data-spy="affix">

          <li role="presentation" ng-click="changeTab(0)" ng-class="{ true: 'active', false: 'inactive'}[tab[0].isActive]"><a href="#">我的关注</a></li>
          <li role="presentation" ng-click="changeTab(1)" ng-class="{ true: 'active', false: 'inactive'}[tab[1].isActive]"><a href="#">我的投稿组</a></li>
          <li role="presentation" ng-click="changeTab(2)" ng-class="{ true: 'active', false: 'inactive'}[tab[2].isActive]"><a href="#">我的上传</a></li>
          <li role="presentation" ng-click="changeTab(3)" ng-class="{ true: 'active', false: 'inactive'}[tab[3].isActive]"><a href="#">我的收藏</a></li>
          <li role="presentation" ng-click="changeTab(4)" ng-class="{ true: 'active', false: 'inactive'}[tab[4].isActive]"><a href="#">我要上传</a></li>
          <li role="presentation" ng-click="changeTab(5)" ng-class="{ true: 'active', false: 'inactive'}[tab[5].isActive]"><a href="#">个人设置</a></li>
        </ul>
      </div>


      <!-- homepage main area -->
      <div class="col-xs-9 content">

        <div ng-controller="tab2" class="tab2" ng-show="tab[2].isActive">
          <a class='item' ng-repeat="item in myUpload" ng-href="{{ playerUrl }}{{ item.rec }}" target="_self">
            <div class='cover' style="background-image: url('{{ videoCoverUrl }}{{ item.rec }}')">
            </div>
            <div class='title'>
              {{ item.filename }}
            </div>
            <div class='playCount'>
              点击次数:{{ item.play_count }}
            </div>
            <div class="collection">
              分类: {{ item.col }}
            </div>
          </a>
        </div>

        <!-- tab4 uploader -->
        <div ng-show="tab[4].isActive" class="tab4" ng-controller="tab4">

          <div class="file-list">
            <div class="row-info col-xs-12"> 
              <div class="col-xs-4 video-name">
                视频名 
              </div>
              <div class="col-xs-8 video-progress">
                控制
              </div>
            </div>
            <div class="row-info col-xs-12" ng-repeat="file in allvideofiles">
              <div class="col-xs-3 video-name" ng-click="alert(file.state);">
                <input type="text" ng-readonly="file.state!=0" ng-model="file.config.filename">
              </div>
              <div class="col-xs-5 video-upload-progress">
                <div class="progress" ng-show="file.state!=0">
                  <div ng-show="file.state==1" class="state">等待上传</div>
                  <div ng-show="file.state==2" class="state">正在计算校验</div>
                  <div ng-show="file.state==3" class="state">正在上传</div>
                  <div ng-show="file.state==4" class="state">上传完成</div>
                  <div ng-show="file.state==999" class="state">上传失败</div>
                  <div class="progress-bar checksum" ng-style="{ 'width':file.__progress__.checksum+'%' }" ng-show="file.state<=2"></div>
                  <div class="progress-bar upload" ng-style="{ 'width':file.__progress__.upload+'%' }" ng-show="file.state>2" ng-show="file.state<=4"></div>
                </div>
              </div>
              <div class="col-xs-4 video-upload-control">
                <button ng-show="file.state==0" ng-click="file.startupload()" class="col-xs-6">开始上传</button>
                <button ng-show="file.state=999" ng-click="file.startupload()" class="col-xs-6">重新上传</button>
                <button ng-click="file.remove()" ng-show="file.state=0" ng-show="file.state==999" class="col-xs-6">删除</button>
              </div>
            </div>
          </div>
          <div ng-change="changeVideoFiles()" ng-model="videofiles" file-upload multiple class="glyphicon glyphicon-plus add"> </div>

          <div class="video-cover">
            <span class="word1">*</span>
            <span class="word2">封面海报:</span>
            <input ng-model="videoCover" id="video-cover" class="cover" value="选择图片" type="file"/>
            <span class="word3">建议大小: 120 * 200</span>
            <div class="video-cover-preview">
              <div id="video-cover-preview"></div>
            </div>
          </div>
          <div class="other-info">

            <div class="collection-info">
              <div class="title">
                <span class="word1">*</span>
                <span class="word2">视频分类</span>
              </div>
              <div dropdown-select="collection.options"
                   dropdown-model="collection.selected"
                   dropdown-item-label="name"
                   class="dropdowns">
                <span class="selected">请选择</span>
              </div>
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>

</div>
