
<div ng-controller='index' class='index'>

  <div class="row navigation">
    <div class="container">
      <ul class="nav nav-tabs">
        <li role="presentation" class="col-md-2 col-lg-1">
          <a href="#/"><strong>首页</strong></a>
        </li>
        <li role="presentation" class="col-md-2 col-lg-1" ng-repeat="col in collections track by $index">
          <!-- a dirty implement */collection/* will be a constant next version -->
          <a ng-href="/collection/{{ col.name }}"><strong>{{ col.name }}</strong></a>
        </li>
      </ul>
    </div>
  </div>

  <div class="container">
    <div class="banner">
      <ul>
        <li ng-repeat="rcm in recommandation">
          <div style="background-image: url('{{rcm.src}}')"></div>
        </li>
      </ul>
    </div>
  </div>

  <div class="container">

    <div class="col-sm-12 content">

      <div class="row">

        <div class="col-md-8">

          <div class="row">
            <div class="col-xs-12 collection" ng-repeat="col in collections">
              <div class="title"><strong>{{ col.name }}</strong> / More</div>
              <div class="list row">
                <div class="item col-sm-3 col-xs-4" ng-repeat="video in videos[$index]"> 
                  <a ng-href="/rec/{{ video.rec }}" target='_self' class="item">
                    <div class="cover" style="background-image: url('/api/video/cover/{{video.rec}}')"></div>
                    <div class="text">
                      <strong class="video-name">{{ video.filename }}</strong> 
                    </div>
                  </a>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="col-md-4 rank-list">
          <div class="title">
            <span class="word1">
              <strong>排行榜</strong>
            </span>
            <span class="word2">
              <strong>/ RANKING</strong>
            </span>
            <hr/>
          </div>
          <a class="item" ng-repeat="rcm in rankList" ng-href="{{ playerUrl }}{{ rcm.rec }}">
            <div class="rank">{{ $index+1 }}</div>
            <div class="text">
              <div class="video-name">{{ rcm.filename }}</div>
            </div>
            <!-- todo: number of played times -->
          </a>
        </div>

      </div>

    </div>

  </div>
</div>
