<div ng-controller='index' class='index'>
  <div class="container-fluid">
    <div class="row">


      <div class="col-xs-12 navigation">
        <ul class="nav nav-tabs">
          <li role="presentation" class="col-xs-1">
            <a href="#/"><strong>首页</strong></a>
          </li>
          <li role="presentation" class="col-xs-1" ng-repeat="col in collections track by $index">
            <a ng-href="{{ collectionUrl }}{{ col.name }}"><strong>{{ col.name }}</strong></a>
          </li>
        </ul>
      </div>


      <div class="recommandation col-xs-12">
        <!-- recommandation0 -->
        <div class="col-xs-9 recommandation0">

          <div class="slider">

            <div class="sliding-windows">
              <div class="sliding-window" ng-class="{ 'active': image.visible }" ng-repeat="image in recommandation[0]">
                <a ng-href="{{ image.link }}">
                  <div><strong>{{ image.title }}</strong></div>
                  <div class="description">{{ image.description }}</div>
                </a>
              </div>
            </div>

            <div class="slide" ng-repeat="image in recommandation[0]" ng-show="image.visible">
              <a ng-href="{{ image.link }}">
                <img ng-src="{{ image.src }}" class="cover"/>
              </a>
            </div>
            <div class="arrows">
              <a href="#/" ng-click="prev()">
                <div class="glyphicon glyphicon-menu-left"></div>
              </a>
              <a href="#/" ng-click="next()">
                <div class="glyphicon glyphicon-menu-right"></div>
              </a>
            </div>
          </div>
        </div>

        <!--recommand1-->
        <div class="col-md-3 recommandation1">
          <div class="title">
            <strong> 推荐/Recommandation </strong>
          </div>
          <div ng-repeat="rcm in recommandation[1]" class="rcm">
            <a ng-href="{{ rcm.link }}">
              <span class="image">
                <img ng-src="{{ rcm.src }}"/>
              </span>
              <span class="text">
                <strong class="video-name">{{ rcm.title }}</strong> 
                <p class="description">{{ rcm.description }} </p>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>


    <div class="col-xs-12 content">

      <div class="col-xs-9">
        <div class="col-xs-8 collection" ng-repeat="col in collections">
          <div class="title"><strong>{{ col.name }}</strong></div>
          <div class="item" ng-repeat="rcm in recommandation[3+$index]">
			<a ng-href="{{ rcm.link }}">
			  <div class="image">
				<img ng-src="{{ rcm.src }}"/>
			  </div>
			  <div class="text">
				<strong class="video-name">{{ rcm.title }}</strong> 
				<p class="description">{{ rcm.description }} </p>
			  </div>
			</a>
          </div>
        </div>
      </div>
      
      <div class="col-xs-3 rank-list">
        <div class="title">
          <span class="word1">
            <strong>排行榜</strong>
          </span>
          <span class="word2">
            <strong>/RANKING</strong>
          </span>
        </div>
        <div class="item" ng-repeat="rcm in recommandation[2]">
          <div class="rank">{{ $index+1 }}</div>
          <div class="text">
            <div class="video-name">{{ rcm.title }}</div>
            <div class="description">{{ rcm.description }}</div>
          </div>
          <!-- todo: number of played times -->
        </div>
      </div>

      </div>

    </div>
  </div>
</div>
