<!DOCTYPE html>
<html>
<head>
    <title>search</title>
    <link rel="stylesheet" type="text/css" href="/app/css/search.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
    <div class = "container backgroundGray">
        <div class = "row">
            <div class = "col-lg-12">
                <div  class = "title">
                    <strong class = "charaterStyle">搜索结果</strong>
                </div>
            </div>
        </div>
        <div class = "row">
            <div class = "col-lg-2">
                <img class="img-responsive" src = "https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=3279979203,1477224595&fm=58">
                <p >更新至{{update}}集</p>
            </div>
            <div class = "col-lg-4">
                <p class = "titleStyle">{{videoName}} {{videoTime}}<p>
                <p class = "introductionStyle">类型：{{type}}</p>
                <p class = "introductionStyle">地区：{{area}}</p>
                <p class = "introductionStyle">简介：{{introduction}}</p>
                <p class = "introductionStyle">{{introduction}}</p>
                <p class = "introductionStyle">{{introduction}}</p>
            </div>
            <div class = "col-lg-6 watch-button">
                <button type="button" class="btn btn-default">1</button>
                <button type="button" class="btn btn-default">2</button>
                <button type="button" class="btn btn-default">3</button>
                <button type="button" class="btn btn-default">4</button>
                <button type="button" class="btn btn-default">5</button>
                <button type="button" class="btn btn-default">6</button>
                <button type="button" class="btn btn-default">7</button>
                <button type="button" class="btn btn-default">8</button>
                <button type="button" class="btn btn-default">9</button>
            </div>
        </div>
    </div>
    <div class = "container">
        <div class = "col-lg-12 space"></div>
    </div>
    <div class = "container">
        <div class = "row">
            <div class = "col-lg-12">
                <div  class = "title">
                    <strong class = "charaterStyle">相关视频</strong>
                </div>
            </div>
        </div>
        <div class = "row about">
            <div class = "col-lg-3">
                <p>与{{videoName}}相关的视频</p>
            </div>
            <div class = "col-lg-6"></div>
            <div class = "col-lg-3">
                <p>约有{{number}}个结果</p>
            </div>
        </div>
        <div class = "row">
            <div class = "col-lg-2">
                <img class="img-responsive" src = "https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=3279979203,1477224595&fm=58">
            </div>
            <div class = "col-lg-2">
                <img class="img-responsive" src = "https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=3279979203,1477224595&fm=58">
            </div>
            <div class = "col-lg-2">
                <img class="img-responsive" src = "https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=3279979203,1477224595&fm=58">
            </div>
            <div class = "col-lg-2">
                <img class="img-responsive" src = "https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=3279979203,1477224595&fm=58">
            </div>
            <div class = "col-lg-2">
                <img class="img-responsive" src = "https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=3279979203,1477224595&fm=58">
            </div>
            <div class = "col-lg-2">
                <img class="img-responsive" src = "https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=3279979203,1477224595&fm=58">
            </div>
        </div>
    </div>
    <div class = "container">
        <div class = "col-lg-12 space"></div>
    </div>
    <div class = "container">
        <div class = "row">
            <div class = "col-lg-4"></div>
            <div class = "col-lg-5">
                <nav>
                    <ul class = "pagination">
                        <li class = "disabled">
                            <a href = "#"aria-label = "Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li><a herf="#">1</a></li>
                        <li><a herf="#">2</a></li>
                        <li><a herf="#">3</a></li>
                        <li><a herf="#">4</a></li>
                        <li><a herf="#">5</a></li>
                        <li><a herf="#">6</a></li>
                        <li><a herf="#">7</a></li>
                        <li>
                            <a herf = "#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class = "col-lg-3"></div>
        </div>
    </div>



</body>
</html>